TheGameOfGo/GoG.WinRT80/Service References/FuegoService/Fuego.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/GoG.Services/Fuego.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/GoG.Services/Fuego.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Services.Engine" />
  <xs:import schemaLocation="http://localhost/GoG.Services/Fuego.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Engine" />
  <xs:element name="GetGameExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gameid" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Services.Engine" minOccurs="0" name="GetGameExistsResult" nillable="true" type="q2:GoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gameid" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Services.Engine" minOccurs="0" name="GetGameStateResult" nillable="true" type="q4:GoGameStateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gameid" type="q5:guid" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Engine" minOccurs="0" name="state" nillable="true" type="q6:GoGameState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Services.Engine" minOccurs="0" name="StartResult" nillable="true" type="q7:GoGameStateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gameid" type="q8:guid" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Engine" minOccurs="0" name="color" type="q9:GoColor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenMoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Services.Engine" minOccurs="0" name="GenMoveResult" nillable="true" type="q10:GoMoveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Play">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gameid" type="q11:guid" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Engine" minOccurs="0" name="move" nillable="true" type="q12:GoMove" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Services.Engine" minOccurs="0" name="PlayResult" nillable="true" type="q13:GoMoveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Undo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gameid" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Services.Engine" minOccurs="0" name="UndoResult" nillable="true" type="q15:GoGameStateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gameid" type="q16:guid" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Engine" minOccurs="0" name="color" type="q17:GoColor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Services.Engine" minOccurs="0" name="HintResult" nillable="true" type="q18:GoHintResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>