TheGameOfGo/GoG.WinRT80/Service References/FuegoService/Fuego2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Services.Engine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Services.Engine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/GoG.Services/Fuego.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Engine" />
  <xs:complexType name="GoResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Engine" minOccurs="0" name="ResultCode" type="q1:GoResultCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoResponse" nillable="true" type="tns:GoResponse" />
  <xs:complexType name="GoGameStateResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GoResponse">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Engine" minOccurs="0" name="GameState" nillable="true" type="q2:GoGameState" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GoGameStateResponse" nillable="true" type="tns:GoGameStateResponse" />
  <xs:complexType name="GoMoveResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GoResponse">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Engine" minOccurs="0" name="Move" nillable="true" type="q3:GoMove" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Engine" minOccurs="0" name="MoveResult" nillable="true" type="q4:GoMoveResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GoMoveResponse" nillable="true" type="tns:GoMoveResponse" />
  <xs:complexType name="GoHintResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GoResponse">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Engine" minOccurs="0" name="Move" nillable="true" type="q5:GoMove" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GoHintResponse" nillable="true" type="tns:GoHintResponse" />
</xs:schema>