TheGameOfGo/GoG.WinRT80/Service References/FuegoService/Fuego.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Fuego" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/GoG.Services/Fuego.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/GoG.Services/Fuego.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/GoG.Services/Fuego.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Services.Engine" />
      <xsd:import schemaLocation="http://localhost/GoG.Services/Fuego.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GoG.Infrastructure.Engine" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFuegoService_GetGameExists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameExists" />
  </wsdl:message>
  <wsdl:message name="IFuegoService_GetGameExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IFuegoService_GetGameState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameState" />
  </wsdl:message>
  <wsdl:message name="IFuegoService_GetGameState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameStateResponse" />
  </wsdl:message>
  <wsdl:message name="IFuegoService_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IFuegoService_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="IFuegoService_GenMove_InputMessage">
    <wsdl:part name="parameters" element="tns:GenMove" />
  </wsdl:message>
  <wsdl:message name="IFuegoService_GenMove_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenMoveResponse" />
  </wsdl:message>
  <wsdl:message name="IFuegoService_Play_InputMessage">
    <wsdl:part name="parameters" element="tns:Play" />
  </wsdl:message>
  <wsdl:message name="IFuegoService_Play_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlayResponse" />
  </wsdl:message>
  <wsdl:message name="IFuegoService_Undo_InputMessage">
    <wsdl:part name="parameters" element="tns:Undo" />
  </wsdl:message>
  <wsdl:message name="IFuegoService_Undo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UndoResponse" />
  </wsdl:message>
  <wsdl:message name="IFuegoService_Hint_InputMessage">
    <wsdl:part name="parameters" element="tns:Hint" />
  </wsdl:message>
  <wsdl:message name="IFuegoService_Hint_OutputMessage">
    <wsdl:part name="parameters" element="tns:HintResponse" />
  </wsdl:message>
  <wsdl:portType name="IFuegoService">
    <wsdl:operation name="GetGameExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuegoService/GetGameExists" message="tns:IFuegoService_GetGameExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuegoService/GetGameExistsResponse" message="tns:IFuegoService_GetGameExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameState">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuegoService/GetGameState" message="tns:IFuegoService_GetGameState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuegoService/GetGameStateResponse" message="tns:IFuegoService_GetGameState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuegoService/Start" message="tns:IFuegoService_Start_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuegoService/StartResponse" message="tns:IFuegoService_Start_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenMove">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuegoService/GenMove" message="tns:IFuegoService_GenMove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuegoService/GenMoveResponse" message="tns:IFuegoService_GenMove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Play">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuegoService/Play" message="tns:IFuegoService_Play_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuegoService/PlayResponse" message="tns:IFuegoService_Play_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Undo">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuegoService/Undo" message="tns:IFuegoService_Undo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuegoService/UndoResponse" message="tns:IFuegoService_Undo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hint">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuegoService/Hint" message="tns:IFuegoService_Hint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuegoService/HintResponse" message="tns:IFuegoService_Hint_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFuegoService" type="tns:IFuegoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGameExists">
      <soap:operation soapAction="http://tempuri.org/IFuegoService/GetGameExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameState">
      <soap:operation soapAction="http://tempuri.org/IFuegoService/GetGameState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Start">
      <soap:operation soapAction="http://tempuri.org/IFuegoService/Start" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenMove">
      <soap:operation soapAction="http://tempuri.org/IFuegoService/GenMove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Play">
      <soap:operation soapAction="http://tempuri.org/IFuegoService/Play" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Undo">
      <soap:operation soapAction="http://tempuri.org/IFuegoService/Undo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hint">
      <soap:operation soapAction="http://tempuri.org/IFuegoService/Hint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Fuego">
    <wsdl:port name="BasicHttpBinding_IFuegoService" binding="tns:BasicHttpBinding_IFuegoService">
      <soap:address location="http://localhost/GoG.Services/Fuego.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>